<!DOCTYPE html>
<html>
<head>
  <title>Admin Dashboard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <h2>Admin Panel</h2>
    <a href="{{ url_for('logout') }}">Logout</a>
    <h3>All Uploaded Documents</h3>
    <table>
      <tr>
        <th>User</th>
        <th>File</th>
        <th>Status</th>
        <th>Confidence</th>
        <th>Time</th>
      </tr>
      {% for record in all_docs %}
      <tr>
        <td>{{ record.username }}</td>
        <td>{{ record.file }}</td>
        <td>{{ record.status }}</td>
        <td>{{ record.confidence }}</td>
        <td>{{ record.date }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</body>
</html>
